<a href="{{ href }}" class="my-button {{ class_modifier }}">
  {{- title -}}
</a>

<style>
  .my-button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    min-width: 180px;
    width: 240px;
    height: 55px;
    text-decoration: none;
  }
</style>
