<section>
    <div>
        <h1>Here goes the hero</h1>
    </div>
</section>

{% schema %}
    {
        "name": "Hero",
        "class": "hero",
        "disabled_on": {
            "groups": ["header", "footer"],
        },
        "settings": [
        
        ],
        "presets":[
            {
                "name": "Hero"
            }
        ]
    }
{% endschema %}
